openapi: 3.0.3

info:
  title: Investment Instruction API
  version: 1.0.0
  description: |
    API for submitting investment instructions and retrieving
    their execution status and generated monetary orders.

    ## Conventions

    - **Monetary unit.** Every monetary value in this API (`amount`,
      `executedAmount`, `price`, `lastMarketPrice`, `cashBalance`,
      `investmentValue`) is an integer number of **Iranian Rial (IRR)**.
      Toman is never used.
    - **Money identity.** For an order, `executedAmount` equals the sum of
      `quantity × price` over its trades. For an account, `investmentValue`
      equals `cashBalance` plus the sum of `quantity × lastMarketPrice` over
      its assets.
    - **Timestamps.** All `date-time` values, in requests and responses,
      are ISO 8601 in **UTC** (suffix `Z`). They are not in Tehran local
      time, even though the market operates on Tehran time.
    - **Identifiers.** `instructionId` is generated by the client.
      `investmentId` is assigned by the client when the account is created.

    ## Asynchronous processing

    Instructions are executed asynchronously. A successful
    `POST /instructions` only means the instruction was accepted; it
    starts in status `PENDING`. No push mechanism (webhooks or callbacks)
    exists. Clients track progress with `GET /instructions/{instructionId}`
    until the instruction reaches a terminal
    status (`EXECUTED`, `FAILED`, `CANCELLED`).

    ## Instruction status lifecycle

    | Status | Meaning | Terminal |
    |---|---|---|
    | `PENDING` | Accepted and stored. Orders have not been generated yet. | No |
    | `EXECUTING` | Orders have been generated and are being executed, but none has any executed quantity. | No |
    | `PARTIALLY_EXECUTED` | At least one order has executed quantity, and at least one order is not yet terminal. | No |
    | `EXECUTED` | All orders are `EXECUTED`. | Yes |
    | `FAILED` | Processing failed before orders were generated, or all orders are terminal and at least one is `FAILED`. | Yes |
    | `CANCELLED` | Cancelled before orders were generated, or all orders are terminal, none is `FAILED` and at least one is `CANCELLED`. | Yes |
    | `REJECTED` | `POST /instructions/batch` only. The instruction was not accepted and was never stored; see the batch result's `error`. Never returned by `GET /instructions/{instructionId}`, and not a state any stored instruction ever transitions through or into. | Yes |

    Transitions:

    | From | To | Trigger |
    |---|---|---|
    | `PENDING` | `EXECUTING` | Orders are generated. |
    | `EXECUTING` | `PARTIALLY_EXECUTED` | The first trade on any order. |
    | `EXECUTING`, `PARTIALLY_EXECUTED` | `EXECUTED`, `FAILED`, `CANCELLED` | The last non-terminal order becomes terminal. The status is derived from the order statuses as described below. |
    | `PENDING` | `FAILED` | A business rule fails at processing time. Examples: SELL `amount` is greater than the value available to sell. |
    | `PENDING` | `CANCELLED` | The instruction is cancelled before orders are generated. |

    Once orders exist, the instruction status is **always derived** from
    the order statuses:

    1. If all orders are terminal: `EXECUTED` when all are `EXECUTED`;
       otherwise `FAILED` when any is `FAILED`; otherwise `CANCELLED`.
    2. If some orders are not terminal: `PARTIALLY_EXECUTED` when any
       order has `executedQuantity > 0`; otherwise `EXECUTING`.

    A terminal `FAILED` or `CANCELLED` instruction may still have
    executed orders or partial fills. Check `executedAmount` of each
    order for what was actually traded.

    ## Instruction policies

    | Instruction type | Policy | Meaning |
    |---|---|---|
    | `BUY` | `NEW_CASH_ONLY` | `amount` is new cash invested by this instruction. It is split across the resolved plan's assets by their target weights. Existing `cashBalance` and holdings are not used and not sold. |
    | `SELL` | `PROPORTIONAL` | Raises `amount` by selling each held asset in proportion to its share of the market value of the holdings. `cashBalance` is not used, and the relative weights of the holdings are kept. |
    | `SELL` | `ALL_ASSET` | Raises `amount` from all of the account's assets, **cash included**. Available `cashBalance` is used first. Only the remainder, if any, is raised by selling holdings proportionally, as in `PROPORTIONAL`. It does **not** mean "liquidate everything". To withdraw the whole account, send `amount` equal to the current `investmentValue`. |

    Any other combination is rejected with `INVALID_INSTRUCTION_POLICY`.

    ## Plans

    A plan defines a set of assets and their target weights. This version
    of the API has no plan-discovery endpoint. A plan ID in a request must
    refer to an existing plan, otherwise `INSTRUCTION_PLAN_NOT_FOUND` or
    `INVESTMENT_PLAN_NOT_FOUND` is returned.

    ## Errors

    - All request validation and business-rule errors of
      `POST /instructions` return **HTTP 400**, including
      `DUPLICATE_INSTRUCTION` and `*_NOT_FOUND`. Clients must branch on
      `code`, not on the HTTP status.
    - JSON Schema violations map to specific codes where one exists:
      a missing `amount` for BUY or SELL → `AMOUNT_REQUIRED`;
      an `amount` below 1 → `INVALID_AMOUNT`; a policy that does not match
      the instruction type → `INVALID_INSTRUCTION_POLICY`. Every other
      schema violation (malformed JSON, a wrong type, a missing required
      field, an unknown property, an unknown enum value) →
      `INVALID_REQUEST`.
    - On GET endpoints, an invalid path or query parameter (non-numeric
      or below 1, a malformed `date-time`, or `from` later than `to`)
      returns HTTP 400 with `INVALID_REQUEST`.
    - The gateway can return these responses on any endpoint: 401
      (missing or invalid credentials), 403 (the client may not access
      the requested investment account), 429 (too many requests),
      500 (unexpected error) and 503 (temporarily unavailable).
      Their bodies are not guaranteed to follow `ErrorResponse`. Retry 429
      and 503 with backoff. After a 500 or a timeout on
      `POST /instructions`, the outcome is unknown: reconcile with
      `GET /instructions/{instructionId}` (see *Retries and idempotency*).
    - `ErrorResponse` has no trace ID and no per-field details. When
      reporting a problem, include the `code`, the request timestamp (UTC)
      and the related `instructionId` or `investmentId`.

    ## Retries and idempotency

    `instructionId` is the idempotency key. It must be **globally unique
    across all clients** and must never be reused, even after the
    instruction is terminal. After a timeout or a 5xx, the client should
    resend the same request with the same `instructionId`:

    - Success (201): the first attempt had not been stored. The
      instruction is now accepted.
    - `DUPLICATE_INSTRUCTION`: an instruction with this ID already
      exists. The server does not check whether the payload is the same.
      Call `GET /instructions/{instructionId}`: if the returned details
      match the request, the first attempt succeeded and nothing more is
      needed; otherwise the ID collides with another instruction and a new
      `instructionId` must be used.

    ## Known limitations of this version

    - Instructions have no creation or update timestamps.
      Trade timestamps are the only execution times available.
    - No failure reason is exposed for `FAILED` instructions .
    - Trades have no trade identifier.
    - The investment transactions endpoint is not paginated.
    - There is no endpoint that lists the instructions of an investment
      account. Clients must keep the `instructionId`s they submit.

servers:
  - url: https://vestapi.emofid.com/api/v1
    description: Production
  - url: https://vestapi-sandbox.emofid.com/api/v1
    description: Sandbox

paths:

  /instructions:
    post:
      operationId: submitInstruction
      summary: Submit investment instruction
      description: |
        Submits a BUY or SELL instruction for asynchronous
        execution. See *Instruction policies* for the meaning of each
        policy.

        Plan resolution applies to BUY instructions. The
        plan used for execution is chosen in this order:

        1. instructionPlanId
        2. investmentPlanId
        3. Existing default plan of the investment account

        For SELL instructions the plan does not affect which assets are
        sold (see *Instruction policies*). A provided instructionPlanId is
        still checked for existence.

        For every instruction type, a provided investmentPlanId is stored
        as the default plan of the investment account.

        Account existence:

        - BUY: when the investment account does not exist, it is created
          with the given investmentId. In that case investmentPlanId is
          required (`INVESTMENT_PLAN_REQUIRED`).
        - SELL: the investment account must already exist
          (`INVESTMENT_NOT_FOUND`).

        On success the response is **201 with an empty body**. The
        instruction has been stored with status `PENDING` and will be
        processed asynchronously. Track it with
        `GET /instructions/{instructionId}`. See *Asynchronous processing*
        and *Retries and idempotency*.

        All errors of this operation are returned as HTTP 400 and are told
        apart by `code` (see *Errors*).

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstructionRequest'

            examples:

              buy:
                summary: Buy instruction
                value:
                  instructionId: 100001
                  investmentId: 200001
                  instructionType: BUY
                  amount: 50000000
                  instructionPolicy: NEW_CASH_ONLY
                  instructionPlanId: 300001
                  investmentPlanId: 300002

              sell:
                summary: Sell instruction
                value:
                  instructionId: 100002
                  investmentId: 200001
                  instructionType: SELL
                  amount: 25000000
                  instructionPolicy: PROPORTIONAL

      responses:

        '201':
          description: >
            Instruction accepted with status PENDING. The response body is
            empty. Execution is asynchronous; use
            GET /instructions/{instructionId} for its status.

        '400':
          description: >
            Invalid instruction. Covers schema validation errors, business
            rule errors, unknown referenced resources, and a duplicate
            instructionId. Branch on `code`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              examples:

                invalidRequest:
                  summary: Invalid request
                  value:
                    code: INVALID_REQUEST
                    message: Request body is malformed or does not match the schema.

                duplicateInstruction:
                  summary: Duplicate instruction
                  value:
                    code: DUPLICATE_INSTRUCTION
                    message: Instruction with the specified instructionId already exists.

                instructionPlanNotFound:
                  summary: Instruction plan not found
                  value:
                    code: INSTRUCTION_PLAN_NOT_FOUND
                    message: The specified instructionPlanId does not exist.

                investmentPlanNotFound:
                  summary: Investment plan not found
                  value:
                    code: INVESTMENT_PLAN_NOT_FOUND
                    message: The specified investmentPlanId does not exist.

                investmentPlanRequired:
                  summary: Investment plan required
                  value:
                    code: INVESTMENT_PLAN_REQUIRED
                    message: investmentPlanId is required when creating a new investment account.

                investmentNotFound:
                  summary: Investment account not found
                  value:
                    code: INVESTMENT_NOT_FOUND
                    message: The specified investment account does not exist.

                invalidInstructionPolicy:
                  summary: Invalid instruction policy
                  value:
                    code: INVALID_INSTRUCTION_POLICY
                    message: instructionPolicy is not valid for the specified instructionType.

                amountRequired:
                  summary: Amount required
                  value:
                    code: AMOUNT_REQUIRED
                    message: amount is required for BUY and SELL instructions.

                invalidAmount:
                  summary: Invalid amount
                  value:
                    code: INVALID_AMOUNT
                    message: amount must be greater than zero.


  /instructions/batch:
    post:
      operationId: submitInstructionBatch
      summary: Submit a batch of investment instructions
      description: |
        Submits multiple BUY or SELL instructions in a single request.
        Each instruction is validated and processed independently,
        exactly as in `POST /instructions`: the failure of one
        instruction does not prevent the others from being accepted. See
        *Instruction policies*, *Errors* and *Retries and idempotency* —
        the same rules apply to every instruction in the batch.

        The response always has HTTP status 207, with one result per
        submitted instruction, in the same order as the request. Check
        each result's `status` field rather than the HTTP status.

        HTTP 400 is only returned when the batch request itself is
        malformed (not a JSON array, or an empty one); it does not
        reflect the outcome of any individual instruction.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstructionBatchRequest'

            example:
              instructionBatchId: 600001
              instructionBatchBuyAmount: 75000000
              instructions:

                - instructionId: 100001
                  investmentId: 200001
                  instructionType: BUY
                  amount: 50000000
                  instructionPolicy: NEW_CASH_ONLY
                  instructionPlanId: 300001
                  investmentPlanId: 300002

                - instructionId: 100002
                  investmentId: 200001
                  instructionType: BUY
                  amount: 25000000
                  instructionPolicy: PROPORTIONAL

      responses:

        '207':
          description: >
            Batch processed. Each instruction was validated and stored
            independently; check status on each result. A PENDING result
            means the instruction was stored and is tracked exactly like a
            single POST /instructions submission. A REJECTED result means
            it was not stored; see its error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionBatchResponse'

              example:
                instructionBatchId: 600001
                results:

                  - instructionId: 100001
                    status: PENDING

                  - instructionId: 100002
                    status: REJECTED
                    error:
                      code: DUPLICATE_INSTRUCTION
                      message: Instruction with the specified instructionId already exists.

        '400':
          description: >
            The batch request itself is malformed. Covers schema
            validation errors of the request body, such as a missing or
            empty instructions array.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              example:
                code: INVALID_REQUEST
                message: instructions must be a non-empty array.

  /instructions/batch/{instructionBatchId}:
    get:
      operationId: getInstructionBatch
      summary: Get instruction Batch details and execution status
      description: >
        Returns instruction details, current execution status,
        and monetary orders generated from the instruction.
        The orders array is empty while the status is PENDING,
        and when the instruction failed or was cancelled
        before orders were generated.
        An invalid instructionId returns HTTP 400 with INVALID_REQUEST.

      parameters:

        - name: instructionBatchId
          in: path
          required: true
          description: Unique identifier of the instruction
          schema:
            type: integer
            format: int64
            minimum: 1

      responses:

        '200':
          description: Instruction details and execution status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionBatchDetailsResponse'

              example:
                instructionBatchId: 100001
                instructionBatchBuyAmount: 50000000
                instructionPolicy: NEW_CASH_ONLY
                instructionPlanId: 300001
                investmentPlanId: 300002
                status: EXECUTED
                trades:
                  - quantity: 1000
                    symbol: عیار
                    price: 13300
                    timestamp: '2026-09-27T09:30:00Z'

                  - quantity: 500
                    symbol: توان
                    price: 13400
                    timestamp: '2026-09-27T10:05:00Z'

        '404':
          description: Instruction Batch not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              example:
                code: INSTRUCTION_Batch_NOT_FOUND
                message: Instruction with the specified instructionBatchId does not exist.

  /instructions/{instructionId}:
    get:
      operationId: getInstruction
      summary: Get instruction details and execution status
      description: >
        Returns instruction details, current execution status,
        and monetary orders generated from the instruction.
        The orders array is empty while the status is PENDING,
        and when the instruction failed or was cancelled
        before orders were generated.
        An invalid instructionId returns HTTP 400 with INVALID_REQUEST.

      parameters:

        - name: instructionId
          in: path
          required: true
          description: Unique identifier of the instruction
          schema:
            type: integer
            format: int64
            minimum: 1

      responses:

        '200':
          description: Instruction details and execution status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionDetailsResponse'

              example:
                instructionId: 100001
                investmentId: 200001
                instructionType: BUY
                amount: 50000000
                instructionPolicy: NEW_CASH_ONLY
                instructionPlanId: 300001
                investmentPlanId: 300002
                status: PARTIALLY_EXECUTED
                trades:
                  - quantity: 1000
                    price: 13300
                    timestamp: '2026-09-27T09:30:00Z'

                  - quantity: 500
                    price: 13400
                    timestamp: '2026-09-27T10:05:00Z'

        '404':
          description: Instruction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              example:
                code: INSTRUCTION_NOT_FOUND
                message: Instruction with the specified instructionId does not exist.


  /investments/{investmentId}:
    get:
      operationId: getInvestment
      summary: Get investment account details
      description: >
        Returns the investment account's default plan, cash balance,
        and current asset holdings. All monetary values are in Rial.
        An invalid investmentId returns HTTP 400 with INVALID_REQUEST.

      parameters:

        - name: investmentId
          in: path
          required: true
          description: Unique identifier of the investment account
          schema:
            type: integer
            format: int64
            minimum: 1

      responses:

        '200':
          description: Investment account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentDetailsResponse'

              example:
                investmentId: 200001
                investmentPlanId: 300002
                cashBalance: 5000000
                investmentValue: 45100000
                assets:
                  - isin: IRTKMOFD0001
                    symbol: عیار
                    quantity: 1500
                    lastMarketPrice: 13400

                  - isin: IRT3TVAF0001
                    symbol: توان
                    quantity: 800
                    lastMarketPrice: 25000
                timestamp: '2026-09-27T10:15:00Z'

        '404':
          description: Investment account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              example:
                code: INVESTMENT_NOT_FOUND
                message: The specified investment account does not exist.


  /investments/{investmentId}/transactions:
    get:
      operationId: getInvestmentTransactions
      summary: Get transactions for an investment account within a date range
      description: >
        Returns all transactions (deposits, withdrawals, buys and sells) of
        the investment account between the from and to timestamps (UTC),
        sorted by timestamp ascending. The response is not paginated.
        A missing or malformed from or to, from later than to, or an
        invalid investmentId returns HTTP 400 with INVALID_REQUEST.

      parameters:

        - name: investmentId
          in: path
          required: true
          description: Unique identifier of the investment account
          schema:
            type: integer
            format: int64
            minimum: 1

        - name: from
          in: query
          required: true
          description: >
            Start of the date range (inclusive), in UTC. Must not be later
            than to.
          schema:
            type: string
            format: date-time

        - name: to
          in: query
          required: true
          description: >
            End of the date range (inclusive), in UTC. Must not be earlier
            than from.
          schema:
            type: string
            format: date-time

      responses:

        '200':
          description: Transactions within the specified date range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentTransactionHistoryResponse'

              example:
                investmentId: 200001
                from: '2026-09-01T00:00:00Z'
                to: '2026-09-27T23:59:59Z'
                transactions:
                  - transactionId: 500001
                    type: DEPOSIT
                    amount: 20000000
                    timestamp: '2026-09-26T08:00:00Z'

                  - transactionId: 500002
                    type: BUY
                    amount: 13300000
                    timestamp: '2026-09-27T09:30:00Z'
                    trade:
                      instructionId: 100001
                      isin: IRTKMOFD0001
                      symbol: عیار
                      symbolName: صندوق عیار مفید
                      quantity: 1000
                      price: 13300

                  - transactionId: 500003
                    type: WITHDRAW
                    amount: 5000000
                    timestamp: '2026-09-27T12:00:00Z'

        '404':
          description: Investment account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

              example:
                code: INVESTMENT_NOT_FOUND
                message: The specified investment account does not exist.


components:

  schemas:

    InstructionRequest:
      type: object
      additionalProperties: false

      required:
        - instructionId
        - investmentId
        - instructionType
        - instructionPolicy

      properties:

        instructionId:
          type: integer
          format: int64
          minimum: 1
          description: >
            Client-generated unique identifier of the instruction. It acts
            as the idempotency key.

            It must be globally unique across all clients. Reusing an
            existing instructionId is not allowed and returns
            DUPLICATE_INSTRUCTION, whatever the payload. After a
            DUPLICATE_INSTRUCTION on a retry, call
            GET /instructions/{instructionId} to check whether the
            original request succeeded.

        investmentId:
          type: integer
          format: int64
          minimum: 1
          description: >
            Identifier of the investment account.

            For SELL instructions, the investment account
            must already exist.

            For BUY instructions, a new investment account is created with
            this identifier if it does not exist; investmentPlanId is then
            required.

        instructionType:
          $ref: '#/components/schemas/InstructionType'

        amount:
          type: integer
          nullable: true
          format: int64
          minimum: 1
          description: >
            Monetary amount of the instruction, in Rial.

            BUY (required): new cash to invest according to the plan.

            SELL (required): cash to raise for withdrawal; see the
            instruction policy for how it is sourced. It must not exceed
            the value available to sell, otherwise the instruction becomes
            FAILED.

        instructionPolicy:
          $ref: '#/components/schemas/InstructionPolicy'

        instructionPlanId:
          type: integer
          nullable: true
          format: int64
          minimum: 1
          description: >
            Execution plan used only for this instruction. It is not stored
            as the account's default.

            For BUY instructions, instructionPlanId takes
            precedence over investmentPlanId and over the existing default
            plan of the investment account.

            For SELL instructions, it is checked for existence but has no
            effect on execution.

        investmentPlanId:
          type: integer
          nullable: true
          format: int64
          minimum: 1
          description: >
            Default investment plan of the investment account.

            When provided, this plan is stored as the default plan of the
            investment account, for every instruction type.

            For BUY, if instructionPlanId is not provided,
            investmentPlanId is used for execution.

            When creating a new investment account,
            investmentPlanId is required.

            For an existing investment account, if neither
            instructionPlanId nor investmentPlanId is provided,
            the existing default plan of the investment account
            is used. If the account has no default plan, BUY
            is rejected with INVESTMENT_PLAN_REQUIRED.

      oneOf:

        - properties:
            instructionType:
              enum:
                - BUY
            instructionPolicy:
              enum:
                - NEW_CASH_ONLY
          required:
            - amount

        - properties:
            instructionType:
              enum:
                - SELL
            instructionPolicy:
              enum:
                - ALL_ASSET
                - PROPORTIONAL
          required:
            - amount


    InstructionDetailsResponse:
      type: object
      additionalProperties: false

      required:
        - instructionId
        - investmentId
        - instructionType
        - instructionPolicy
        - status

      properties:

        instructionId:
          type: integer
          format: int64

        investmentId:
          type: integer
          format: int64

        instructionType:
          $ref: '#/components/schemas/InstructionType'

        amount:
          type: integer
          nullable: true
          format: int64
          description: >
            Total monetary amount of the instruction, in Rial, as submitted.

        instructionPolicy:
          $ref: '#/components/schemas/InstructionPolicy'

        instructionPlanId:
          type: integer
          nullable: true
          format: int64
          description: instructionPlanId as submitted; null when not provided.

        investmentPlanId:
          type: integer
          nullable: true
          format: int64
          description: investmentPlanId as submitted; null when not provided.

        status:
          $ref: '#/components/schemas/InstructionStatus'


    InstructionBatchDetailsResponse:
      type: object
      additionalProperties: false

      required:
        - instructionBatchId
        - status

      properties:

        instructionBatchId:
          type: integer
          format: int64

        status:
          $ref: '#/components/schemas/InstructionStatus'

    InstructionBatchRequest:
      type: object
      additionalProperties: false

      required:
        - instructionBatchId
        - instructions

      properties:

        instructionBatchId:
          type: integer
          format: int64
          minimum: 1
          description: >
            Client-generated unique identifier of the batch request. It is
            echoed back in the response, for correlating the request with
            its result and for logging or support purposes. It does not
            affect deduplication: each instruction's own instructionId is
            still the idempotency key, so resubmitting the same batch
            (whether under the same or a different instructionBatchId) is
            safe.

        instructions:
          type: array
          minItems: 1
          description: >
            Instructions to submit. Each is validated and processed
            independently, exactly as in POST /instructions.
          items:
            $ref: '#/components/schemas/InstructionRequest'


    InstructionBatchResponse:
      type: object
      additionalProperties: false

      required:
        - instructionBatchId
        - results

      properties:

        instructionBatchId:
          type: integer
          format: int64
          description: instructionBatchId as submitted.

        results:
          type: array
          description: >
            One result per submitted instruction, in the same order as
            the request.
          items:
            $ref: '#/components/schemas/InstructionBatchResult'


    InstructionBatchResult:
      type: object
      additionalProperties: false
      description: >
        Result of submitting one instruction from the batch. status is
        always PENDING or REJECTED here, never any other InstructionStatus
        value: PENDING means the instruction was stored, exactly as in
        POST /instructions, and is tracked with
        GET /instructions/{instructionId}; REJECTED means it was not
        stored, and error is present with the reason.

      required:
        - instructionId
        - status

      properties:

        instructionId:
          type: integer
          format: int64
          description: instructionId of the corresponding instruction in the request.

        status:
          $ref: '#/components/schemas/InstructionStatus'

        error:
          $ref: '#/components/schemas/ErrorResponse'

      oneOf:

        - properties:
            status:
              enum:
                - PENDING
          not:
            required:
              - error

        - properties:
            status:
              enum:
                - REJECTED
          required:
            - error


    InvestmentDetailsResponse:
      type: object
      additionalProperties: false

      required:
        - investmentId
        - investmentPlanId
        - cashBalance
        - investmentValue
        - assets
        - timestamp

      properties:

        investmentId:
          type: integer
          format: int64

        investmentPlanId:
          type: integer
          nullable: true
          format: int64
          description: >
            Default investment plan of the investment account.

            May be null if no plan has been assigned. Accounts created
            through this API always have a default plan, because
            investmentPlanId is required at creation. BUY
            instructions for an account without a default plan must provide
            a plan.

        cashBalance:
          type: integer
          format: int64
          minimum: 0
          description: >
            Cash balance available in the investment account, in Rial.

        investmentValue:
          type: integer
          format: int64
          minimum: 0
          description: >
            Total value of the investment account, in Rial. Equal to the cash
            balance plus the market value (quantity × lastMarketPrice) of all
            asset holdings.

        assets:
          type: array
          description: >
            Current asset holdings of the investment account.
          items:
            $ref: '#/components/schemas/InvestmentAsset'

        timestamp:
          type: string
          format: date-time
          description: >
            Date and time this valuation was generated, in UTC.


    InvestmentAsset:
      type: object
      additionalProperties: false

      required:
        - isin
        - symbol
        - quantity
        - lastMarketPrice

      properties:

        isin:
          type: string
          description: ISIN code of the trading symbol.
          example: IRTKMOFD0001

        symbol:
          type: string
          description: Trading symbol (short code).
          example: عیار

        quantity:
          type: integer
          format: int64
          minimum: 0
          description: >
            Number of units of the symbol currently held.

        lastMarketPrice:
          type: integer
          format: int64
          minimum: 0
          description: >
            Last known market price per unit of the symbol, in Rial.


    Trade:
      type: object
      additionalProperties: false

      required:
        - quantity
        - price
        - timestamp

      properties:

        quantity:
          type: integer
          format: int64
          minimum: 1
          description: Number of units traded.

        price:
          type: integer
          format: int64
          minimum: 1
          description: Price per unit for this trade, in Rial.

        timestamp:
          type: string
          format: date-time
          description: Date and time the trade was executed, in UTC.


    InvestmentTransactionHistoryResponse:
      type: object
      additionalProperties: false

      required:
        - investmentId
        - from
        - to
        - transactions

      properties:

        investmentId:
          type: integer
          format: int64

        from:
          type: string
          format: date-time
          description: Start of the requested date range (inclusive), in UTC.

        to:
          type: string
          format: date-time
          description: End of the requested date range (inclusive), in UTC.

        transactions:
          type: array
          description: >
            Transactions of the investment account within the requested
            date range, sorted by timestamp ascending.
          items:
            $ref: '#/components/schemas/InvestmentTransaction'


    InvestmentTransaction:
      type: object
      additionalProperties: false
      description: >
        A single transaction of an investment account. trade is present
        only when type is BUY or SELL, and absent for DEPOSIT and WITHDRAW.

      required:
        - transactionId
        - type
        - amount
        - timestamp

      properties:

        transactionId:
          type: integer
          format: int64
          minimum: 1
          description: Unique identifier of the transaction.

        type:
          $ref: '#/components/schemas/TransactionType'

        amount:
          type: integer
          format: int64
          minimum: 1
          description: >
            Monetary value of the transaction, in Rial. For BUY and SELL it
            equals trade.quantity × trade.price.

        timestamp:
          type: string
          format: date-time
          description: Date and time the transaction took place, in UTC.

        trade:
          $ref: '#/components/schemas/TransactionTrade'

      oneOf:

        - properties:
            type:
              enum:
                - BUY
                - SELL
          required:
            - trade

        - properties:
            type:
              enum:
                - DEPOSIT
                - WITHDRAW
          not:
            required:
              - trade


    TransactionTrade:
      type: object
      additionalProperties: false
      description: Trade details of a BUY or SELL transaction.

      required:
        - instructionId
        - isin
        - symbol
        - symbolName
        - quantity
        - price

      properties:

        instructionId:
          type: integer
          format: int64
          description: Identifier of the instruction this trade was generated from.

        isin:
          type: string
          description: ISIN code of the trading symbol.
          example: IRTKMOFD0001

        symbol:
          type: string
          description: Trading symbol (short code).
          example: عیار

        symbolName:
          type: string
          description: Full name of the trading symbol.
          example: صندوق عیار مفید

        quantity:
          type: integer
          format: int64
          minimum: 1
          description: Number of units traded.

        price:
          type: integer
          format: int64
          minimum: 1
          description: Price per unit for this trade, in Rial.


    TransactionType:
      type: string
      description: |
        - `DEPOSIT`: cash added to the account.
        - `WITHDRAW`: cash taken out of the account.
        - `BUY`: units of an asset bought.
        - `SELL`: units of an asset sold.
      enum:
        - DEPOSIT
        - WITHDRAW
        - BUY
        - SELL


    InstructionType:
      type: string
      description: |
        - `BUY`: invest new cash according to a plan.
        - `SELL`: raise cash from the account for withdrawal.
      enum:
        - BUY
        - SELL


    InstructionPolicy:
      type: string
      description: |
        Allowed values per instruction type:

        - `NEW_CASH_ONLY` (BUY only): split `amount` of new cash across the
          plan's assets by target weight. Existing cash and holdings are not
          used.
        - `PROPORTIONAL` (SELL): sell `amount` across holdings in proportion
          to their current market value. Cash is not used.
        - `ALL_ASSET` (SELL): raise `amount` from all assets, cash included.
          Available cash is used first, and the remainder is sold
          proportionally. It does not mean "liquidate everything".
      enum:
        - NEW_CASH_ONLY
        - ALL_ASSET
        - PROPORTIONAL


    InstructionStatus:
      type: string
      description: |
        Terminal statuses: `EXECUTED`, `FAILED`, `CANCELLED`, `REJECTED`.

        - `PENDING`: accepted and stored. Orders have not been generated
          yet.
        - `EXECUTING`: orders generated and being executed, none has any
          executed quantity.
        - `PARTIALLY_EXECUTED`: some quantity executed, and at least one
          order is not yet terminal.
        - `EXECUTED`: all orders `EXECUTED`.
        - `FAILED`: processing failed before orders were generated, or all
          orders are terminal and at least one is `FAILED`.
        - `CANCELLED`: cancelled before orders were generated, or all
          orders are terminal, none is `FAILED` and at least one is
          `CANCELLED`.
        - `REJECTED`: `POST /instructions/batch` only. The instruction was
          not accepted and was never stored. Never returned by
          `GET /instructions/{instructionId}`.

        Once orders exist, the status is derived from them. See
        *Instruction status lifecycle* in the API description.
      enum:
        - PENDING
        - EXECUTING
        - PARTIALLY_EXECUTED
        - EXECUTED
        - FAILED
        - CANCELLED
        - REJECTED

    ErrorResponse:
      type: object
      additionalProperties: false

      required:
        - code
        - message

      properties:

        code:
          $ref: '#/components/schemas/ErrorCode'

        message:
          type: string
          description: >
            Human-readable description of the error. Not stable; do not
            parse it.


    ErrorCode:
      type: string
      description: |
        Machine-readable error code. Clients must branch on this value
        rather than on the HTTP status.

        - `INVALID_REQUEST` (400): the request does not match the schema,
          or a path or query parameter is invalid, and no more specific
          code applies.
        - `AMOUNT_REQUIRED` (400): `amount` is missing for BUY or SELL.
        - `INVALID_AMOUNT` (400): `amount` is below 1.
        - `INVALID_INSTRUCTION_POLICY` (400): the policy is not allowed for
          the instruction type.
        - `DUPLICATE_INSTRUCTION` (400): `instructionId` already exists.
          See *Retries and idempotency*.
        - `INSTRUCTION_PLAN_NOT_FOUND` (400): `instructionPlanId` does not
          refer to an existing plan.
        - `INVESTMENT_PLAN_NOT_FOUND` (400): `investmentPlanId` does not
          refer to an existing plan.
        - `INVESTMENT_PLAN_REQUIRED` (400): no plan could be resolved,
          either because a BUY creates a new account without
          `investmentPlanId`, or because the account has no default plan.
        - `INVESTMENT_NOT_FOUND` (400 on POST, 404 on GET): the investment
          account does not exist.
        - `INSTRUCTION_NOT_FOUND` (404): the instruction does not exist.
      enum:
        - DUPLICATE_INSTRUCTION
        - INSTRUCTION_PLAN_NOT_FOUND
        - INVESTMENT_PLAN_NOT_FOUND
        - INVESTMENT_NOT_FOUND
        - INVESTMENT_PLAN_REQUIRED
        - INVALID_INSTRUCTION_POLICY
        - AMOUNT_REQUIRED
        - INVALID_AMOUNT
        - INVALID_REQUEST
        - INSTRUCTION_NOT_FOUND
        - INSTRUCTION_BATCH_NOT_FOUND
